/* .page {
  min-width: 320px;
  margin: 0 auto;
  background-color: #2a2c2f;
  color: #fff;
  font-family: 'Inter', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
} */

.header {
  margin: auto;
  padding-top: 28px;
  width: 100%;
  max-width: 880px;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
}

@media screen and (min-width: 619px) {
  .header {
    padding-top: 45px;
  }
}

.logo {
  width: 104px;
  height: 24px;
  margin: 0 0 28px 27px;
}

@media screen and (min-width: 619px) {
  .logo {
    width: 142px;
    height: 33px;
    margin-bottom: 37px;
  }
}

@media screen and (min-width: 880px) {
  .logo {
    margin-left: 0;
  }
}

.profile {
  width: calc(100% - 2*19px);
  max-width: 880px;
  margin: auto;
  padding-top: 42px;
}

@media screen and (min-width: 700px) {
  .profile {
    display: flex;
    padding-top: 34px;
    align-items: center;
  }
}

.profile__avatar {
  display: block;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: auto;
}

@media screen and (min-width: 700px) {
  .profile__avatar {
    margin: 0;
  }
}

.profile__info {
  position: relative;
  margin: 26px auto 33px;
  max-width: 282px;
}

@media screen and (min-width: 700px) {
  .profile__info {
    max-width: 336px;
    width: 100%;
    margin-top: 27px;
    margin-left: 30px;
    margin-bottom: 27px;
  }
}

.profile__name {
  margin: 0 0 7px 0;
  font-style: normal;
  font-weight: 500;
  font-size: 27px;
  line-height: 33px;
  text-align: center;
}

@media screen and (min-width: 700px) {
  .profile__name {
    font-size: 42px;
    line-height: 48px;
    text-align: left;
  }
}

.profile__about {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}

@media screen and (min-width: 700px) {
  .profile__about {
    font-size: 18px;
    line-height: 22px;
    text-align: left;
  }
}

.profile__edit-button {
  display: block;
  box-sizing: border-box;
  width: 18px;
  height: 18px;
  background-color: #000000;
  border: 1px solid #fff;
  position: absolute;
  top: 8px;
  right: 19px;
  background-image: url(./images/Edit.svg);
  background-repeat: no-repeat;
  background-size: 7.5px;
  background-position: center;
  padding: 0;
}

@media screen and (min-width: 700px) {
  .profile__edit-button {
    top: 15px;
    right: 0;
    width: 24px;
    height: 24px;
    background-size: 10px;
  }
}

.profile__edit-button:hover {
  opacity: .6;
  cursor: pointer;
}

.profile__add-button {
  display: block;
  margin: auto;
  box-sizing: border-box;
  width: 282px;
  height: 50px;
  border: 2px solid #fff;
  border-radius: 2px;
  background-image: url(./images/Add.svg);
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: center;
  background-color: #000000;
  padding: 0;
}

@media screen and (min-width: 700px) {
  .profile__add-button {
    width: 150px;
    margin: auto 0 auto;
    background-size: 22px;
  }
}

.profile__add-button:hover {
  opacity: .6;
  cursor: pointer;
}

.elements {
  margin: auto;
  width: calc(100% - 2*19px);
  max-width: 880px;
  padding-top: 36px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  justify-content: center;
  gap: 20px 17px;
}

@media screen and (min-width: 700px) {
  .elements {
    padding-top: 46px;
  }
}

.element {
  box-sizing: border-box;
  margin: auto;
  width: 282px;
  height: 361px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
}

.element__image {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.element__info {
  display: flex;
  justify-content: space-between;
  margin: 21px 20px 0;
}

.element__title {
  max-width: 185px;
  margin: 0;
  color: #000000;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.element__like-button {
  display: block;
  width: 22px;
  height: 19px;
  background-image: url(./images/Like-disabled.svg);
  background-size: cover;
  border: none;
  background-color: #fff;
  padding: 0;
  align-self: center;
}

.element__like-button:hover {
  opacity: .5;
  cursor: pointer;
}

.element__like-button_active {
  background-image: url(./images/Like-active.svg);
}

.footer {
  padding-top: 48px;
  padding-bottom: 36px;
  width: calc(100% - 2*19px);
  max-width: 880px;
  margin: auto;
}

@media screen and (min-width: 700px) {
  .footer {
    padding-top: 67px;
    padding-bottom: 60px;
  }
}

.footer__copyright {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #545454;
}

@media screen and (min-width: 700px) {
  .footer__copyright {
    font-size: 18px;
    line-height: 22px;
  }
}
