.popup__save-button {
  margin: auto;
  margin-top: 45px;
  padding: 0;
  display: block;
  box-sizing: border-box;
  width: 238px;
  height: 46px;
  background-color: #000000;
  border-radius: 2px;
  color: #fff;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  cursor: pointer;
  border: none;
}

.popup__save-button:hover {
  opacity: .6;
}

@media screen and (min-width: 619px) {
  .popup__save-button {
    margin-top: 48px;
    width: 358px;
    height: 50px;
    font-size: 18px;
    line-height: 22px;
  }
}
